/* -----------------------------------------------------
		Navbar : Style
   ----------------------------------------------------- */

nav.navbar {
  margin: 0px;
  z-index: 200;
  height: 80px;
  transition: background 0s, height 0.2s;
}

nav.navbar ul.navbar-nav li a {
  font-size: 16px;
}

nav.navbar#mynavbar.main-navbar.navbar-custom.navbar-transparent#mynavbar.white-color {
  background-color: white !important;
  color: black;
  transition: 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav.navbar.main-navbar#mynavbar.bg-light.full-width ~ section {
  position: relative;
  top: 51px;
}

nav.navbar.navbar-custom a.navbar-brand {
  font-size: 28px;
}

nav.navbar.navbar-custom a.navbar-brand span .fa {
  font-size: 35px;
}

nav.navbar .container.padding {
  padding: 0 10px;
}

.main-navbar .navbar-header {
  position: relative;
}

.main-navbar .header-search {
  margin-top: 17px;
}

.main-navbar .navbar-brand {
  padding-right: 0px;
}

.main-navbar .navbar-brand .fa {
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.main-navbar .navbar-nav > li > a {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-flex;
  list-style: none;
}

.main-navbar .navbar-nav > li {
  position: relative;
}

.main-navbar .navbar-nav > li::before {
  width: 0;
  height: 4px;
  transition: all 0.25s linear;
  position: absolute;
  content: "";
  z-index: -1;
  left: 0px;
  top: auto;
  bottom: 7px;
  right: 0px;
  -webkit-transition: all 0.25s linear;
  z-index: 1;
  margin: 0 auto;
}

.dropdown-menu {
  margin: -5px 0 0;
}

.main-navbar .navbar-nav > li.active::before {
  width: 100%;
}

.main-navbar .navbar-nav > li > a .fa-angle-down {
  margin-left: 8px;
}
.main-navbar .navbar-nav > li > a .fa {
  display: inherit;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 14px;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-navbar.container-header .navbar-nav > li:last-child {
  margin-right: 15px;
}

.main-navbar .navbar-search-link > li:last-child a {
  height: 35px;
  width: 35px;
  text-align: center;
  padding: 5px 7px 6px 8px;
  margin-top: 2px;
  text-decoration: none;
}

.main-navbar .navbar-search-link > li:last-child .fa {
  margin-top: 3px;
}

.main-navbar .navbar-nav li .dropdown-menu {
  width: 250px;
  padding: 0;
}

.main-navbar .navbar-nav li .dropdown-menu li a {
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 14px;
}

/* New */

.main-navbar .navbar-nav .dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0px;
  height: 0;
  margin-top: 5px;
  margin-right: -10px;
}

/* New */

.main-navbar .mega-dropdown-menu {
  padding: 40px 20px 40px !important;
}

.main-navbar .mega-dropdown-menu .row {
  margin-left: 0px;
  margin-right: 0px;
}

.main-navbar .mega-dropdown-menu .dropdown-header {
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 14px;
  text-transform: uppercase;
  padding: 3px 16px;
}

.main-navbar .navbar-nav li .mega-dropdown-menu ul li a {
  display: block;
  text-decoration: none;
  padding-left: 15px;
  margin-top: 1px;
}

.header-absolute {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 100;
  width: 100%;
}

/* -----------------------------------------------------
        Navbar : Color ([=====#mynavbar-1======] Header 1 & 2)
     ----------------------------------------------------- */

nav.navbar {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

nav.navbar#mynavbar-1 .navbar-collapse ul li a {
  color: #444;
}

nav.navbar .navbar-collapse > ul > li:hover > a,
nav.navbar .navbar-collapse > ul > li > a:focus {
  color: red !important;
}

nav.navbar#mynavbar-1 .navbar-collapse > ul > li.active > a {
  color: red;
}

nav.navbar#mynavbar-1
  .navbar-collapse
  > .navbar-nav
  > li
  .dropdown-menu
  li
  a:hover,
nav.navbar#mynavbar-1
  .navbar-collapse
  > .navbar-nav
  > li
  .dropdown-menu
  li
  a:focus,
nav.navbar#mynavbar-1
  .navbar-collapse
  > .navbar-nav
  > li
  .dropdown-menu
  li.active
  > a:hover,
nav.navbar#mynavbar-1
  .navbar-collapse
  > .navbar-nav
  > li
  .dropdown-menu
  li.active
  a {
  background-color: red;
  color: black;
}

nav.navbar
  .navbar-collapse
  .navbar-nav
  li.dropdown
  ul.dropdown-menu
  li.dropdown-item {
  background-color: unset;
}

.dropdown-item {
  background: unset;
}

nav.navbar#mynavbar-1 li.dropdown-submenu:hover .dropdown-toggle {
  background-color: 010066;
  color: black;
}

/*======================Navbar Brand ====================*/

nav.navbar#mynavbar-1.navbar-light .navbar-brand {
  color: #fff;
  font-weight: 900;
}

nav.navbar#mynavbar-1 .navbar-brand {
  color: #000;
  font-weight: 900;
}

nav.navbar#mynavbar-1 .navbar-brand span {
  color: #fa1a1a;
}

nav.navbar#mynavbar-1 .header-search .fa {
  color: #fa1a1a;
}

nav.navbar#mynavbar-1 .navbar-search-link > li:last-child a {
  border: 1px solid #010066;
  color: #010066;
  border-radius: 100%;
}

nav.navbar .navbar-search-link > li.search-btn {
  background-color: unset;
}

/*======================Navbar Brand for #mynavbar-1 Ends====================*/

/*===========================Arrow in Submenu starts===============================*/

nav.navbar#mynavbar-1 .dropdown-submenu:hover > a:after,
nav.navbar#mynavbar-1 .dropdown-submenu.active > a:after {
  border-left-color: #000;
}

nav.navbar#mynavbar-1 .dropdown-submenu > a:after {
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
}

nav.navbar#mynavbar-1 .navbar-nav > li::before {
  background-color: rgb(255, 88, 88);
}

nav.navbar#mynavbar-1 > a:after {
  color: #b5b5b5ff;
}

nav.navbar#mynavbar-1
  .navbar-collapse
  > ul.navbar-nav
  > li.dropdown
  ul.dropdown-menu
  li.dropdown-submenu:hover
  a:after {
  color: black;
}

/*===========================Arrow in Submenu Ends===============================*/

nav.navbar#mynavbar-1 .navbar-nav li .dropdown-menu li a {
  border-bottom: 1px solid #ebebeb;
}

nav.navbar#mynavbar-1 .navbar-nav li .dropdown-menu li:first-child,
nav.navbar#mynavbar-1 .navbar-nav li .dropdown-menu li:last-child a {
  border-bottom: unset;
}

nav.navbar#mynavbar-1 .navbar-search-link > li:last-child a {
  border: 1px solid #fa1a1a;
  color: #fa1a1a;
  border-radius: 100%;
}

nav.navbar#mynavbar-1 .navbar-nav > li.dropdown > .dropdown-menu {
  margin: -1px;
  padding: 0;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  outline: none;
}

nav.navbar#mynavbar-1 .mega-dropdown-menu .dropdown-header span {
  color: red;
}

nav.navbar#mynavbar-1 .mega-dropdown-menu .dropdown-header {
  color: #333;
}

/* -----------------------------------------------------
		Navbar : Responsive
   ----------------------------------------------------- */

@media (min-width: 1200px) {
  .main-navbar.navbar-custom .navbar-brand {
    padding-top: 24px;
  }

  .header-search {
    display: none !important;
  }

  .main-navbar.navbar-custom .navbar-nav > li {
    padding: 22px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    margin: 0px 1px;
  }

  .main-navbar .nav > li > a {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px 13px;
  }

  .main-navbar .navbar-nav > li:last-child a {
    margin-right: 0px;
  }

  .main-navbar .navbar-nav > li:last-child {
    margin-left: 12px;
  }

  .main-navbar .navbar-search-link > li:last-child {
    margin-left: 8px;
    margin-top: 6px;
  }

  .main-navbar.navbar-custom.affix .navbar-nav > li {
    padding: 10px 0;
  }

  .main-navbar.navbar-custom.affix .navbar-brand {
    padding-top: 12px;
  }

  .main-navbar .navbar-nav > li.active::before {
    width: 80%;
  }

  .main-navbar .mega-dropdown-menu {
    min-width: 950px;
  }

  .main-navbar .mega-dropdown-menu ul li a {
    padding-right: 15px;
  }

  .main-navbar .navbar-right .mega-dropdown-menu.dropdown-menu {
    left: auto;
    right: 0px;
  }
}

@media (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 1199px) {
  #mynavbar {
    padding: 0px;
  }

  .main-navbar .header-search {
    margin-top: 16px;
  }

  .main-navbar .navbar-header .header-search .fa {
    font-size: 18px;
  }

  .main-navbar .navbar-header {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .main-navbar .navbar-collapse {
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .main-navbar .navbar-nav {
    float: none !important;
    width: 100%;
  }

  .main-navbar .navbar-nav > li {
    float: none;
  }

  .main-navbar .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .main-navbar .navbar-toggle {
    display: block;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 15px;
    padding-right: 0px;
  }

  .main-navbar.container-header .navbar-toggle {
    margin-right: 15px;
  }

  .main-navbar .navbar-header {
    float: none;
  }

  .main-navbar .navbar-nav li .dropdown-menu {
    width: 100%;
    max-height: 300px;
    overflow: auto;
  }

  .main-navbar.navbar-custom .navbar-brand {
    padding-top: 3px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #mynavbar .navbar-brand img {
    max-height: 46px;
    margin-top: 3px;
  }
}

@media (min-width: 768px) {
  .main-navbar.navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .main-navbar.navbar-custom .navbar-brand .fa {
    font-size: 1.33em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .main-navbar .navbar-right .dropdown-menu {
    left: 0;
    right: auto;
  }

  .dropdown-submenu > .dropdown-menu.dropdown-sbm.left-sbm {
    top: 0;
    right: 100%;
    left: auto;
    margin-top: -1px;
    margin-left: -1px;
  }
}

@media (max-width: 768px) {
  .main-navbar .navbar-header .header-search .fa {
    font-size: 18px;
  }

  nav.navbar.navbar-custom#mynavbar a.navbar-brand {
    font-size: 20px;
  }

  nav.navbar.navbar-custom#mynavbar a.navbar-brand .fa {
    font-size: 24px;
  }

  .main-navbar .navbar-toggler i {
    font-size: 22px !important;
  }

  nav.navbar#mynavbar {
    height: 63px;
    background-color: rgba(0, 0, 0, 0.7);
    transition: background 0s, height 0.2s;
  }
}

@media (max-width: 600px) {
  #close-button {
    right: 20px;
    top: 40px;
  }
}

@media (max-width: 767px) {
  .main-navbar {
    z-index: 100;
  }

  .main-navbar .navbar-brand {
    padding-bottom: 0px;
    padding-top: 17px;
  }

  .main-navbar .navbar-brand .fa {
    top: 0px;
    margin-right: 6px;
  }

  .main-navbar .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }

  .main-navbar .navbar-toggle {
    padding: 20px;
    border-radius: 0px;
    margin: 0px;
  }

  .main-navbar .navbar-nav > li > a {
    font-size: 14px;
  }

  .affix ~ section {
    top: 42px;
  }

  .main-navbar .navbar-nav li .dropdown-menu {
    width: 100%;
    max-height: 148px;
    overflow: auto;
  }

  .main-navbar .navbar-nav li .dropdown-menu li a {
    font-size: 14px;
  }
}
