/* Settings */

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../assets/img/loader.gif) center no-repeat #fff;
}

p {
  color: #808285;
}

.page-heading h2 {
  color: #231f20;
}

.page-heading.white-heading h2 {
  color: white;
}

.page-heading .heading-line {
  border-color: #fa1a1a;
  border-width: medium;
}

.innerpage-heading h1 {
  color: #000000;
}

.trip-heading span {
  color: #fa1a1a;
}

.yellow-line {
  border-color: #fa1a1a;
  border-width: 5px;
}

.bg-grey {
  background: #f1f2f2;
}

.btn {
  border-radius: 0px;
  border: 0px;
}

.btn-orange,
.btn-orange:focus {
  background: #fa1a1a;
  color: white;
}

.btn-orange:hover {
  background: #010101;
  color: white;
}

.lg-booking-form .payment-tabs #tab-paypal .paypal-text .btn {
  color: #000;
  background-color: #d1d1d1ff;
}

.lg-booking-form .payment-tabs #tab-paypal .paypal-text .btn:hover {
  color: #d1d1d1ff;
  background-color: #000;
}

.table-responsive .table tr td .btn-orange,
.table-responsive .table tr td .btn-orange:focus {
  background: #faa61a;
  color: white;
}

.table-responsive .table tr td .btn-orange:hover {
  background: #010101;
  color: white;
}

.btn-black,
.btn-black:focus {
  background: #000;
  color: white;
}

.btn-black:hover {
  background: #faa61a;
  color: white;
}

.btn-o-border {
  border: 1px solid #faa61a;
  color: #faa61a;
}

.btn-o-border:hover {
  border-color: #faa61a;
  color: white;
  background: #faa61a;
}

.btn-w-border {
  border: 1px solid #e2e1e1;
  color: white;
}

.btn-w-border:hover {
  border: 1px solid white;
  color: black;
  background: white;
}

.btn-g-border,
.btn-g-border:focus {
  border: 1px solid #939598;
  color: #565656;
}

.btn-g-border:hover {
  border: 1px solid black;
  color: white;
  background: black;
}

.btn-white,
.btn-white:focus {
  background: white;
  color: #000;
}

.btn-white:hover {
  background: #faa61a;
  color: #000;
}

.table-responsive .table tr td .btn-lightgrey,
.table-responsive .table tr td .btn-lightgrey:focus {
  background: #efefef;
  color: #000;
}

.table-responsive .table tr td .btn-lightgrey:hover {
  background: #303030;
  color: white;
}

.owl-carousel.owl-custom-arrow .owl-nav button.owl-prev,
.owl-carousel.owl-custom-arrow .owl-nav button.owl-next {
  border-radius: 0px;
  background: white;
}

.owl-carousel.owl-custom-arrow .owl-nav button.owl-prev:hover,
.owl-carousel.owl-custom-arrow .owl-nav button.owl-next:hover {
  background: red;
}

.owl-carousel.owl-custom-arrow .owl-nav button.owl-prev:active,
.owl-carousel.owl-custom-arrow .owl-nav button.owl-next:active {
  background: -moz-repeating-radial-gradient();
}

.map iframe {
  border: 0px;
}

.border-shape-top::before,
.border-shape-top::after {
  background: #333;
}

.border-shape-bot::before,
.border-shape-bot::after {
  background: #faa61a;
}

@media (max-width: 991px) {
  .back-size {
    background-size: cover !important;
  }
}

@media (max-width: 768px) {
  .table-responsive {
    border: 0px;
    margin: 0px;
  }
}

/* Main Block */

.main-block:hover {
  transform: translateY(-10px);
}

.main-block:hover .main-img img {
  transform: scale(1.15);
}

.main-info {
  background: white;
}

.main-info .main-title a {
  color: #000;
}

.rating .fa.lightgrey {
  color: #d1d3d4;
}

.rating .fa.orange {
  color: #faa61a;
}

.rating .fa.grey {
  color: #8b8e90;
}

.arrow .fa {
  background: #8e8f91;
  color: white;
  border-radius: 100%;
}

.arrow .fa:hover {
  background: #faa61a;
  color: white;
}

/************** OFFER-PRICE-1 *************/

.offer-price-1 li.price {
  color: white;
}

.offer-price-1 li.price .divider,
.offer-price-1 li.price .pkg {
  color: #b6b6b6;
}

/************** OFFER-PRICE-2 *************/

.offer-price-2 {
  background: #000;
  color: white;
}

.offer-price-2 .arrow .fa {
  background: #faa61a;
}

/**************** OFFER-TAG ***************/

.offer-tag {
  background: #e01a33;
  color: white;
  transform: rotate(45deg);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
