/* Settings */
html,
body {
  height: 100%;
  position: relative;
  scroll-behavior: smooth;
}

p,
ul,
a,
.btn,
span,
input,
select,
textarea,
label,
table,
.meta h2,
blockquote,
small,
.newsletter h2,
.best-offer-text h3,
.package h2,
.welcome-message h2,
#hot-tour h3,
#hot-tour h2,
#message-banner h2,
.member-name h3,
#error-text h2,
.company-name,
#coming-soon-text h2,
.booking-form-block .selected-price,
#dashboard h2,
#dashboard h3,
#dashboard h4,
#web-name,
.tvl-insurance-info .innerpage-heading h1,
.big-heading h2,
.traveler-info h3,
.list-group-heading,
.page-search-form h2,
.member-info-2 h4,
#faq-page .content-side .card-title,
.service-intro-text h4,
.popup-ad-text h4 {
  font-family: "Lato", sans-serif;
}

p,
ul {
  line-height: 1.5em;
  font-size: 14px;
}

ul {
  margin-bottom: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.main-title a,
.flight-info h3 .flight-destination,
.blog-post-title a,
.block-title a,
.detail-block .detail-title a,
.side-bar .detail-block-2 .detail-title a,
#travel-guide .tv-guide-block .tab-text h3 a {
  font-family: "Merriweather", serif;
  margin-top: 0;
  line-height: 1.3em;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

.page-heading {
  text-align: center;
}

.page-heading h2 {
  text-transform: capitalize;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 14px;
}

.page-heading .heading-line {
  width: 50px;
  margin: 0px auto;
}

.page-heading p {
  width: 65%;
  margin: 0 auto;
  font-size: 18px;
}

.innerpage-heading h1 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 35px;
}

.innerpage-heading p {
  width: 65%;
  margin: 20px auto 50px;
  font-size: 18px;
}

.trip-heading span {
  margin-right: 15px;
}

.trip-heading h2 {
  margin-bottom: 0px;
}

.trip-heading p {
  margin-bottom: 0px;
}

.innerpage-wrapper .butn .btn {
  width: 218px;
}

.btn {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.section-padding {
  padding-top: 124px;
  padding-bottom: 124px;
}

.section-article {
  height: 750px;
}

.banner-padding {
  padding-top: 86px;
  padding-bottom: 86px;
}

.innerpage-section-padding {
  padding-top: 103px;
  padding-bottom: 147px;
}

.innerpage-banner-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.innerpage-103-pd-tb {
  padding: 103px 0px;
}

.yellow-line {
  width: 130px;
  margin: 0 auto 40px;
}

.btn-padding {
  padding: 12px 48px;
}

.no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.no-pd-top {
  padding-top: 0px;
}

.no-pd-bottom {
  padding-bottom: 0px;
}

.mg-bot-30 {
  margin-bottom: 30px;
}

.mg-bot-55 {
  margin-bottom: 55px;
}

.mg-bot-60 {
  margin-bottom: 60px;
}

.butn .btn {
  margin-top: 70px;
  width: 265px;
  padding: 16px 0px;
}

.col-15,
.col-md-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-15 {
  width: 20%;
  float: left;
}

#colorPanel {
  z-index: 300;
}

.view-all {
  margin-top: 50px;
}

.view-all .btn {
  padding: 10px 50px;
  font-size: 15px;
}

.owl-carousel.owl-custom-arrow .owl-nav {
  position: absolute;
  top: 101%;
  transform: translateY(-45%);
  left: 0;
  width: 100%;
}

.owl-carousel.owl-custom-arrow .owl-nav button {
  font-size: 20px;
  padding: 0px 10px;
  opacity: 1;
  width: 30px;
  height: 30px;
}

.owl-carousel.owl-custom-arrow .owl-nav button .fa {
  margin-bottom: 5px;
}

.map iframe {
  width: 100%;
}

#colorPanel {
  z-index: 300;
}

.border-shape-top::before,
.border-shape-top::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
}

.border-shape-top::before {
  width: 5px;
  height: 40px;
}

.border-shape-top::after {
  width: 40px;
  height: 5px;
}

.border-shape-bot::before,
.border-shape-bot::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.border-shape-bot:before {
  width: 5px;
  height: 40px;
}

.border-shape-bot:after {
  width: 40px;
  height: 5px;
}

/* Main Block */

.main-block {
  transition: 0.4s;
}

.main-img {
  position: relative;
  overflow: hidden;
}

.main-img img {
  width: 100%;
  transition: 0.4s;
}

.main-info .main-title a {
  text-decoration: none;
}

.main-title p {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: -2px;
}

.arrow .fa {
  height: 28px;
  width: 28px;
  text-align: center;
  padding: 3px 11px;
  font-size: 20px;
  margin-top: 11px;
}

/************** OFFER-PRICE-1 *************/

.offer-price-1 {
  font-size: 14px;
  margin: 0px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 14px 18px 11px;
}

.offer-price-1 li.price {
  font-size: 22px;
  font-weight: bold;
}

.offer-price-1 li.price .pkg {
  font-size: 14px;
  position: relative;
  top: -3px;
}

.offer-price-1 li.price .divider {
  margin: 0px 8px;
  font-size: 14px;
  position: relative;
  top: -3px;
}

.offer-price-1 li.rating {
  float: right;
  font-size: 0.98em;
}

/************** OFFER-PRICE-2 *************/

.offer-price-2 li.price {
  font-size: 22px;
  font-weight: bold;
}

.offer-price-2 ul li .fa {
  margin-top: 0px;
}

.offer-price-2 {
  padding: 14px 20px;
}

.offer-price-2 li .arrow {
  float: right;
  margin-top: -3px;
}

/**************** OFFER-TAG ***************/

.offer-tag {
  position: absolute;
  top: 17px;
  right: -28px;
  width: 120px;
  text-align: center;
  padding: 6px 5px;
  font-size: 12px;
  font-weight: bold;
}
